# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

#### **Objectives:**

- List popular languages for Data Science
- List popular libraries for Data Science
- Provide examples of arithmetic

#### Some of the popular languages that Data Scientists use are:

1. Python
2. R Language
3. SQL

#### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. TensorFlow

|Data Science Tools|
--------------------
|My SQL|
|Apache Air Flow|
|Hadoop File System|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Alexis Crawford